@import "variables.scss";

.betting-table {
  display: flex;
  width: auto;
  max-width: var(--bet-table--maxwidth);
  // display: grid;
  // place-items: center;
  // margin-bottom: 1.5em;
  // row-gap: 25px;

  // @media (min-width: $screen-md) {
  //   grid-template-columns: repeat(2, 1fr);
  //   gap: 25px;
  // }

  // @media (min-width: $screen-lg) {
  //   grid-template-columns: repeat(3, 1fr);
  // }

  &__wrapper {
    display: flex;
    justify-content: center;
  }
  &__bet {
    opacity: 0;
    background: var(--c-primary-darken-3);
    padding: 1em;
    border-radius: 5px;
    box-shadow: var(--box-shadow-primary);
    // width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5em auto;
    transition: width 500ms;

    @media (min-width: $screen-sm) {
      margin: 1em 0.5em;
    }

    @media (min-width: $screen-lg) {
      margin: 1.5em 1em;
    }

    @media (min-width: $screen-xl) {
      margin: 2.5em 1.5em;
    }

    @keyframes animateBg {
      0% {
        background-position: 0% 0%;
      }

      100% {
        background-position: 100% 0%;
      }
    }

    &__header {
      position: relative;
      &__link {
        position: absolute;
        top: -3px;
        right: 0;
        svg > * {
          fill: var(--c-accent-darken-2);
          transition: all 300ms;
          &:hover {
            fill: var(--c-accent);
            transform: scale(1.1);
          }
        }
      }
    }
    &__name {
      // border-bottom: 1px solid var(--c-primary-lighten-3);
      padding-bottom: 0.6em;
      margin-bottom: 0.3em;
      font-size: 1.3em;
      position: relative;
      display: flex;
      justify-content: space-between;
      padding-right: 1em;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        animation: animateBg 14s linear infinite;
        background-image: linear-gradient(
          90deg,
          #5700ed,
          #00cc9c,
          #eef300,
          #5700ed,
          #00cc9c
        );
        background-size: 400% 100%;
      }
    }

    &__footer {
      padding-top: 0.3em;
      margin-top: 0.3em;
      position: relative;

      &__creator {
        font-size: 0.8em;
        font-style: italic;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        animation: animateBg 14s linear infinite;
        background-image: linear-gradient(
          90deg,
          #5700ed,
          #00cc9c,
          #eef300,
          #5700ed,
          #00cc9c
        );
        background-size: 400% 100%;
      }
    }

    &__body {
      &__desc {
        p {
          margin: 0.6em 0;

          button {
            appearance: none;
            outline: none;
            border: none;
            background: none;
            padding: 0;
            color: var(--c-accent-darken-1);
            font-size: 0.8em;
            text-decoration: underline;
          }
        }
      }

      &__data {
        h4 {
          font-size: 1.2em;
        }

        ul {
          list-style: none;
          padding: 0;
          position: relative;
          z-index: 0;
          li {
            display: flex;
            justify-content: space-between;
            font-size: .95em;
            margin: .3em 0;
          }
        }
        &__result {
          margin: 1em auto;
          padding: 0.8em 1em;
          position: relative;
          background: linear-gradient(
            60deg,
            var(--c-primary),
            var(--c-primary-lighten-1),
            var(--c-primary-lighten-2),
            var(--c-primary-lighten-1)
          );
          background-size: 300% 300%;
          background-position: 0 50%;
          border-radius: 5px;
          animation: moveGradient 8s alternate infinite;
          font-size: 1.1em;
          @keyframes moveGradient {
            0% {
              background-position: 0% 0%;
            }

            100% {
              background-position: 100% 0%;
            }
          }
        }
      }

      &__placebet {
        margin-bottom: 1em;

        .btn {
          width: 100%;
          background: var(--c-secondary-darken-1);
          color: var(--c-primary-darken-1);
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 1px;
          height: 50px;
          animation: animatePlaceBtn 10s linear infinite alternate;
          background-image: linear-gradient(
            90deg,
            #05aa83,
            #00cc3a,
            #00cc9c,
            #00cc3a
          );
          background-size: 300% 100%;

          @keyframes animatePlaceBtn {
            0% {
              background-position: 0% 0%;
            }

            100% {
              background-position: 100% 0%;
            }
          }

          &:focus {
            outline: none;
            box-shadow: var(--box-shadow-primary);
          }

          &.set-result {
            background-image: linear-gradient(
              90deg,
              #aa7105,
              #cc7c00,
              #883404,
              #cc4300
            );
          }

          &.placed {
            // background: var(--c-secondary-darken-1);
            animation: animatePlacedBtn 10s linear infinite;
            background-image: linear-gradient(
              90deg,
              #820475,
              #75068c,
              #820475,
              #75068c
            );
            background-size: 300% 100%;

            @keyframes animatePlacedBtn {
              0% {
                background-position: 100% 0%;
              }

              100% {
                background-position: 0% 0%;
              }
            }
          }

          &.no-cursor {
            cursor: no-drop;
          }

          &.finished {
            color: var(--c-secondary-darken-2);

            animation: animateFinBtn 15s linear infinite;
            background-image: linear-gradient(
              90deg,
              #1f0054,
              #001b54,
              #1f0054,
              #001b54
            );
            background-size: 300% 100%;

            @keyframes animateFinBtn {
              0% {
                background-position: 0% 0%;
              }

              100% {
                background-position: 100% 0%;
              }
            }

            &:focus,
            :hover,
            :focus {
              outline: none;
              box-shadow: var(--box-shadow-primary);
            }
          }

          &.placement-full {
            background: var(--roy-grey);
            color: white;
          }
        }
      }
    }
  }
}

.bet-toast {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

.trash {
  cursor: pointer;
  margin-right: 15px;
}
