:root {
  --c-primary: #1f0054;
  --c-primary-lighten-1: #320087;
  --c-primary-lighten-2: #5700ed;
  --c-primary-lighten-3: #b387ff;
  --c-primary-darken-1: #1b004a;
  --c-primary-darken-2: #16003a;
  --c-primary-darken-3: #10002b;
  --c-primary-darken-4: #0c0021;

  --c-secondary: #00ffc3;
  --c-secondary-lighten-1: #33ffcf;
  --c-secondary-lighten-2: #80ffe1;
  --c-secondary-lighten-3: #ccfff3;
  --c-secondary-darken-1: #00cc9c;
  --c-secondary-darken-2: #008062;
  --c-secondary-darken-3: #003327;

  --c-accent: #eef300;
  --c-accent-lighten-1: #faff0d;
  --c-accent-lighten-2: #fbff40;
  --c-accent-lighten-3: #fcff73;
  --c-accent-darken-1: #d5d900;
  --c-accent-darken-2: #bcc000;
  --c-accent-darken-3: #8a8d00;

  --cg-modal: linear-gradient(
    189deg,
    rgba(16, 0, 43, 1) 23%,
    rgba(22, 0, 43, 1) 100%
  );

  --cg-primary: linear-gradient(
    34deg,
    rgba(31, 0, 84, 1) 23%,
    rgba(50, 0, 135, 1) 100%
  );

  --c-dark: #212529;
  --c-dark-lighten: #33393f;
  --c-light: #fff;

  --c-bg-primary: #1f0054;

  --box-shadow-primary: 0 2px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  --box-shadow-secondary: 0 2px 5px rgba(0, 0, 0, 0.16),
    0 2px 5px rgba(0, 0, 0, 0.23);

  --bet-table--maxwidth: 1400px;

  --header-height: 60px;
}

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$headerHeight: 60px;
